body{
	margin: 0;
	display: flex;
	justify-content: center;
	align-items: center;
	height: 95vh;
	background-color: hsl(0, 0%, 95%, 1.0);
}
#calculator{
	font-family: Arial, sans-serif;
	background-color: black;
	overflow: hidden;
	border-radius: 15px;
	max-width: 280px;
	height: 65%;

}
#display{
	width: 91%;
	padding: 20px;
	font-size: 3rem;
	color: white;
	text-align: left;
	background-color: hsl(0, 0%, 20%, 1.0);
	border: none;
}
#keys{
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	gap: 7px;
	padding: 13px;
}
button{
	width: 50px;
	height: 50px;
	border-radius: 50px;
	border: none;
	color: white;
	font-size: 15px;
	background-color: hsl(0, 0%, 20%, 1.0);
	cursor: pointer;
	text-align: center;
}
.spchar{
	width: 50px;
	height: 50px;
	border-radius: 50px;
	border: none;
	color: white;
	font-size: 15px;
	background-color: orange;
	cursor: pointer;
	text-align: center;
}
.Cchar{
	width: 50px;
	height: 50px;
	border-radius: 50px;
	border: none;
	color: white;
	font-size: 15px;
	background-color: hsl(0, 0%, 50.6%, 1.0);
	cursor: pointer;
	text-align: center;
}
button:active{
background-color: hsl(0, 0%, 50%, 1.0);
}
.spchar:active{
	background-color: rgb(265, 223, 138, 1.0);
}
.Cchar:active{
	background-color: hsl(0, 0%, 90%, 1.0);
}
